<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vocabulary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body class="bg-dark">
    <div class="mx-5 mt-4">
        <div class="d-flex">
            <div style="flex: 1;">
                <a id="logout-btn" class="btn d-flex" style="font-size: 12px; border: none; color: #aaa;" href="/logout">
                    Logout
                    <p id="logout-sad-face" class="ms-2" style="display: none;">:(</p>
                </a>
            </div>
            <h1 class="text-center text-white" style="flex: 3">My Vocabulary</h1>
            <div class="text-end" style="flex: 1; font-size: 12px; color: #aaa;">
                <p>[[${student.email}]]</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="mt-4" style="width: 25rem;">
            <form class="form" action="/create-word" method="post">
                <input name="newWord"
                       type="text"
                       required
                       class="form-control"
                       placeholder="New word"
                       aria-label="New word to be added to the cards"
                >
                <input name="description"
                       type="text"
                       required
                       class="form-control mt-1"
                       placeholder="Word description"
                       aria-label="Description of the new word"
                >
                <div class="d-flex justify-content-between">
                    <div class="mt-2 w-25">
                        <a th:if="${studentWords}" class="btn btn-secondary" href="/learn">
                            Learn
                        </a>
                    </div>
                    <button class="btn btn-primary mt-2 w-50"
                            type="submit"
                    >
                        Add word
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="mx-5 mt-4">
        <div class="row row-cols-5">
            <div th:if="${studentWords}" th:each="word, iterStats : ${studentWords}"
                 class="p-1 word-card"
            >
                <div id="wordTextCard"
                     class="card btn text-white w-100 p-0"
                     style="background-color:#454545; height:4.5rem;"
                >
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <h6 class="m-0 p-0">[[${word.text}]]</h6>
                    </div>
                </div>
                <div id="wordDescriptionCard"
                     class="card w-100 p-0"
                     style="background-color:#fff; height: 4.5rem; display:none;"
                >
                    <div class="d-flex h-100">
                        <div class="d-flex justify-content-center align-items-center text-break"
                             style="width:85%;">
                            <p class="m-0 p-0" style="font-size: 12px; color:#454545;">[[${word.description}]]</p>
                        </div>
                        <div style="width:15%" class="d-flex flex-column justify-content-between">
                            <div class="position-relative d-flex justify-content-start w-100" style="background-color: red;">
                                <form action="/delete-word" method="post">
                                    <input hidden="hidden" name="wordId" th:value="${word.id}"/>
                                    <button type="submit"
                                            title="Delete word"
                                            class="btn-close delete-word position-absolute"
                                            style="font-size:10px; top:3px; right:3px;">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:id="'descriptionModal-'+${iterStats.index}"
                     class="modal fade" tabindex="-1"
                >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">[[${word.text}]]</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p>[[${word.description}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
        $("#logout-btn").mouseenter(function() {
            let sadFace = $(this).find("#logout-sad-face");
            sadFace.show();
            $(this).mouseleave(function() {
                sadFace.hide();
            })
        })

        $(".word-card").click(function() {
            let wordTextCard = $(this).find("#wordTextCard");
            let wordDescriptionCard =  $(this).find("#wordDescriptionCard");
            wordTextCard.hide();
            wordDescriptionCard.show();

            $(this).mouseleave(function() {
                wordTextCard.show();
                wordDescriptionCard.hide();
            });
        })

    </script>
</html>