<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vocabulary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
    <div class="container mt-5">
        <h1 class="text-center text-white">My Vocabulary</h1>
    </div>
    <div class="container mt-5" style="width: 25rem">
        <form class="form" action="/create-word" method="post">
                <input name="newWord"
                       type="text"
                       required
                       class="form-control"
                       placeholder="New word"
                       aria-label="New word to be added to the cards"
                >
                <input name="description"
                       type="text"
                       required
                       class="form-control mt-1"
                       placeholder="Word description"
                       aria-label="Description of the new word"
                >
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mt-2 w-50"
                        type="submit"
                >
                    Add word
                </button>
            </div>
        </form>
    </div>
</body>
</html>